<div class="home-container">
  <div class="home-content">
    <h1>Hi!</h1>
    <p>
      I'm <strong>Morgan</strong>, a <strong>software developer</strong> with
      over 6 years of experience. I have a passion for
      <strong>learning</strong> and <strong>travel</strong> and I'm always
      looking for new ways to challenge myself.
    </p>
    <p>
      I've created this site to share my experiences and to help others along
      the way. I hope you find something useful here!
    </p>
  </div>
  <span class="home-separator"></span>
  {{ partial "recent-posts.html" . }}
</div>
